@import "variables";

html, body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.input {
  outline: none;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 17px 20px;
  border: 1px solid $colorful-background;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: $dark-text;
}

.button {
  text-align: center;
  padding: 15px;
  background: $accept-button;
  border-radius: 12px;
  box-sizing: border-box;
  cursor: pointer;
  border: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $default-text;

  &:hover {
    background: rgba(49, 65, 82, 0.87);
  }

  &:disabled {
    background: grey;
    cursor: not-allowed;
  }
}

a.button {
  text-decoration: none;
  display: inline-block;
}


.small-input {
  border: 1px solid #6CAC72;
  border-radius: 5px;
  text-align: center;
  padding: 2px;
  box-sizing: border-box;
  width: 40px;
  height: 28px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: $green-text-color;
}


.mat-mdc-menu-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;

  a {
    text-decoration: none;
    color: $gray-text-color;
  }
}


[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: 2px solid #2A502E;
  background-color: #FFF;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 8px;
  height: 8px;
  background-color: #2A502E;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.mat-mdc-progress-spinner .mdc-circular-progress__determinate-circle, .mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: #648F64 !important;
}
