$container-width: 1240px;
$green-text-color: #202B21;
$gray-text-color: #2C2C2C;

$default-background: #F2F2F2;
$colorful-background: #7395AE;
$colorful-background2: #B1A296;
$default-text: #F2F2F2;
$dark-text: #314152;
$title-text: #314152;
$accept-button: #314152;

